In [1]:
import pandas as pd

In [4]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [5]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [6]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

## Create a MultiIndex with the set_index() Method

In [11]:
bigmac.set_index(keys = ["Date", "Country"], inplace = True)
bigmac.head(10)

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98

In [15]:
bigmac.sort_index(inplace = True)
bigmac.head(10)

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71

In [17]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [18]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [19]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## The .get_level_values() Method

In [22]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [24]:
bigmac.index.get_level_values(0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [25]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [26]:
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [27]:
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## The .set_names() Method

In [29]:
bigmac.index.set_names(["Day", "Location"], inplace = True)
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [30]:
bigmac.index.set_names(["Date", "Country"], inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## The sort_index() Method

In [33]:
bigmac.sort_index(ascending=[True, False])

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83
...                                       ...
2016-01-01 Brazil                        3.35
           Belgium                       4.25
           Austria                       3.76
           Australia                     3.74
           Argentina                     2.39

[652 rows x 1 columns]

## Extract Rows from a MultiIndex DataFrame

In [34]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [37]:
bigmac.loc[("2010-01-01", "Japan"), "Price in US Dollars"]

Date        Country
2010-01-01  Japan      3.5
Name: Price in US Dollars, dtype: float64

In [38]:
bigmac.loc[("2015-07-01")]

                           Price in US Dollars
Date       Country
2015-07-01 Argentina                      3.07
           Australia                      3.92
           Austria                        3.71
           Belgium                        4.05
           Brazil                         4.28
           Britain                        4.51
           Canada                         4.54
           Chile                          3.27
           China                          2.74
           Colombia                       2.92
           Costa Rica                     4.03
           Czech Republic                 2.83
           Denmark                        5.08
           Egypt                          2.16
           Estonia                        3.23
           Euro area                      4.05
           Finland                        4.49
           France                         4.49
           Germany                        3.93
           Greece                         3.34
           Hong Kong                      2.48
           Hungary                        3.18
           India                          1.83
           Indonesia                      2.29
           Ireland                        4.05
           Israel                         4.63
           Italy                          4.38
           Japan                          2.99
           Malaysia                       2.01
           Mexico                         3.11
           Netherlands                    3.78
           New Zealand                    3.91
           Norway                         5.65
           Pakistan                       3.44
           Peru                           3.14
           Philippines                    3.61
           Poland                         2.54
           Portugal                       3.29
           Russia                         1.88
           Saudi Arabia                   3.20
           Singapore                      3.44
           South Africa                   2.09
           South Korea                    3.76
           Spain                          4.00
           Sri Lanka                      2.61
           Sweden                         5.13
           Switzerland                    6.82
           Taiwan                         2.55
           Thailand                       3.17
           Turkey                         3.87
           UAE                            3.54
           Ukraine                        1.55
           United States                  4.79
           Uruguay                        4.13
           Venezuela                      0.67
           Vietnam                        2.75

In [39]:
bigmac.iloc[2]

Price in US Dollars    4.76
Name: (2010-01-01 00:00:00, Brazil), dtype: float64

## The .transpose() Method and MultiIndex on Column Level

In [42]:
bigmac.head(10)

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71

In [44]:
bigmac = bigmac.transpose()
bigmac.head()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [48]:
bigmac.loc["Price in US Dollars", ("2016-01-01", "Japan")]

Date        Country
2016-01-01  Japan      3.12
Name: Price in US Dollars, dtype: float64

In [49]:
bigmac.loc["Price in US Dollars", ("2016-01-01", "Czech Republic")]

Date        Country
2016-01-01  Czech Republic    2.98
Name: Price in US Dollars, dtype: float64

In [51]:
bigmac = bigmac.transpose()

## The .swaplevel() Method

In [55]:
bigmac.swaplevel()

                          Price in US Dollars
Country       Date
Argentina     2010-01-01                 1.84
Australia     2010-01-01                 3.98
Brazil        2010-01-01                 4.76
Britain       2010-01-01                 3.67
Canada        2010-01-01                 3.97
...                                       ...
Ukraine       2016-01-01                 1.54
United States 2016-01-01                 4.93
Uruguay       2016-01-01                 3.74
Venezuela     2016-01-01                 0.66
Vietnam       2016-01-01                 2.67

[652 rows x 1 columns]

In [56]:
bigmac.swaplevel().loc[("Japan")]

            Price in US Dollars
Date
2010-01-01                 3.50
2010-07-01                 3.67
2011-07-01                 4.08
2012-01-01                 4.16
2012-07-01                 4.09
2013-01-01                 3.51
2013-07-01                 3.20
2014-01-01                 2.97
2014-07-01                 3.64
2015-01-01                 3.14
2015-07-01                 2.99
2016-01-01                 3.12

## The .stack() Method

In [60]:
world = pd.read_csv("worldstats.csv", index_col= ["country", "year"])
world.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [61]:
world.stack()
##Return series

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                                    ...
Zimbabwe    1962  GDP           1.117602e+09
            1961  Population    3.876638e+06
                  GDP           1.096647e+09
            1960  Population    3.752390e+06
                  GDP           1.052990e+09
Length: 22422, dtype: float64

In [63]:
world.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
...                                  ...
Zimbabwe   1962 GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

## The .unstack() Method

In [64]:
world = pd.read_csv("worldstats.csv", index_col= ["country", "year"])
world.head()

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12

In [66]:
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [68]:
s.unstack().unstack()

                      Population                                            \
year                        1960          1961          1962          1963
country
Afghanistan         8.994793e+06  9.164945e+06  9.343772e+06  9.531555e+06
Albania                      NaN           NaN           NaN           NaN
Algeria             1.112489e+07  1.140486e+07  1.169015e+07  1.198513e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.035056e+09  3.076121e+09  3.129064e+09  3.193947e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.049586e+06  3.142848e+06  3.240664e+06  3.342894e+06
Zimbabwe            3.752390e+06  3.876638e+06  4.006262e+06  4.140804e+06

                                                                            \
year                        1964          1965          1966          1967
country
Afghanistan         9.728645e+06  9.935358e+06  1.014884e+07  1.036860e+07
Albania                      NaN           NaN           NaN           NaN
Algeria             1.229597e+07  1.262695e+07  1.298027e+07  1.335420e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.259355e+09  3.326054e+09  3.395866e+09  3.465297e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.449266e+06  3.559687e+06  3.674088e+06  3.792864e+06
Zimbabwe            4.279561e+06  4.422132e+06  4.568320e+06  4.718612e+06

                                                ...           GDP  \
year                        1968          1969  ...          2006
country                                         ...
Afghanistan         1.059979e+07  1.084951e+07  ...  7.057598e+09
Albania                      NaN           NaN  ...  8.992642e+09
Algeria             1.374438e+07  1.414444e+07  ...  1.170273e+11
Andorra                      NaN           NaN  ...  3.536452e+09
Angola                       NaN           NaN  ...  4.178948e+10
...                          ...           ...  ...           ...
West Bank and Gaza           NaN           NaN  ...  4.910100e+09
World               3.535512e+09  3.609910e+09  ...  5.107451e+13
Yemen, Rep.                  NaN           NaN  ...  1.908173e+10
Zambia              3.916928e+06  4.047479e+06  ...  1.275686e+10
Zimbabwe            4.874113e+06  5.036321e+06  ...  5.443896e+09

                                                                            \
year                        2007          2008          2009          2010
country
Afghanistan         9.843842e+09  1.019053e+10  1.248694e+10  1.593680e+10
Albania             1.070101e+10  1.288135e+10  1.204421e+10  1.192695e+10
Algeria             1.349771e+11  1.710007e+11  1.372110e+11  1.612073e+11
Andorra             4.010785e+09  4.001349e+09  3.649863e+09  3.346317e+09
Angola              6.044892e+10  8.417803e+10  7.549238e+10  8.247091e+10
...                          ...           ...           ...           ...
West Bank and Gaza  5.505800e+09  6.673500e+09  7.268200e+09  8.913100e+09
World               5.758343e+13  6.312856e+13  5.983553e+13  6.564782e+13
Yemen, Rep.         2.563367e+10  3.039720e+10  2.845950e+10  3.090675e+10
Zambia              1.405696e+10  1.791086e+10  1.532834e+10  2.026555e+10
Zimbabwe            5.291950e+09  4.415703e+09  8.157077e+09  9.422161e+09

                                                                            \
year                        2011          2012          2013          2014
country
Afghanistan         1.793024e+10  2.053654e+10  2.004633e+10  2.005019e+10
Albania             1.289087e+10  1.231978e+10  1.278103e+10  1.327796e+10
Algeria             2.000131e+11  2.090474e+11  2.097035e+11  2.135185e+11
Andorra             3.427236e+09  3.146178e+09  3.249101e+09           NaN
Angola              1.041159e+11  1.153984e+11  1.249121e+11  1.267751e+11
...                          ...           ...           ...           ...
West Bank and Gaza  1.045985e+10  1.127940e+10  1.247600e+10  1.271560e+10
World               7.284314e+13  7.442836e+13  7.643132e+13  7.810634e+13
Yemen, Rep.         3.107886e+10  3.207477e+10  3.595450e+10           NaN
Zambia              2.345952e+10  2.550306e+10  2.804552e+10  2.713464e+10
Zimbabwe            1.095623e+10  1.239272e+10  1.349023e+10  1.419691e+10


year                        2015
country
Afghanistan         1.919944e+10
Albania             1.145560e+10
Algeria             1.668386e+11
Andorra                      NaN
Angola              1.026431e+11
...                          ...
West Bank and Gaza  1.267740e+10
World               7.343364e+13
Yemen, Rep.                  NaN
Zambia              2.120156e+10
Zimbabwe            1.389294e+10

[252 rows x 112 columns]

In [69]:
s.unstack()

                  Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
...                      ...           ...
Zimbabwe    2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [70]:
s.unstack().unstack().unstack()

            year  country
Population  1960  Afghanistan           8.994793e+06
                  Albania                        NaN
                  Algeria               1.112489e+07
                  Andorra                        NaN
                  Angola                         NaN
                                            ...
GDP         2015  West Bank and Gaza    1.267740e+10
                  World                 7.343364e+13
                  Yemen, Rep.                    NaN
                  Zambia                2.120156e+10
                  Zimbabwe              1.389294e+10
Length: 28224, dtype: float64

In [71]:
s.head()

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
dtype: float64

In [72]:
s.unstack(2)

                  Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
...                      ...           ...
Zimbabwe    2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [73]:
s.unstack(0)

country           Afghanistan       Albania       Algeria       Andorra  \
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
...                       ...           ...           ...           ...
2013 GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                Angola  Antigua and Barbuda    Arab World  \
year
1960 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1961 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1962 Population           NaN                  NaN           NaN
...                       ...                  ...           ...
2013 GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014 Population  2.422752e+07         9.090000e+04  3.842226e+08
     GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015 Population  2.502197e+07         9.181800e+04  3.920223e+08
     GDP         1.026431e+11         1.297285e+09  2.530102e+12

country             Argentina       Armenia  Aruba  ...    Uzbekistan  \
year                                                ...
1960 Population           NaN           NaN    NaN  ...           NaN
     GDP                  NaN           NaN    NaN  ...           NaN
1961 Population           NaN           NaN    NaN  ...           NaN
     GDP                  NaN           NaN    NaN  ...           NaN
1962 Population  2.128768e+07           NaN    NaN  ...           NaN
...                       ...           ...    ...  ...           ...
2013 GDP         6.239320e+11  1.112147e+10    NaN  ...  5.679566e+10
2014 Population  4.298003e+07  3.006154e+06    NaN  ...  3.075770e+07
     GDP         5.480549e+11  1.164444e+10    NaN  ...  6.313285e+10
2015 Population           NaN  3.017712e+06    NaN  ...  3.129950e+07
     GDP                  NaN  1.056140e+10    NaN  ...  6.673280e+10

country               Vanuatu  Venezuela, RB       Vietnam  \
year
1960 Population           NaN   8.146845e+06           NaN
     GDP                  NaN   8.607600e+09           NaN
1961 Population           NaN   8.461684e+06           NaN
     GDP                  NaN   8.923367e+09           NaN
1962 Population           NaN   8.790590e+06           NaN
...                       ...            ...           ...
2013 GDP         8.017876e+08   3.713366e+11  1.712220e+11
2014 Population  2.588830e+05            NaN  9.072890e+07
     GDP         8.149546e+08            NaN  1.862047e+11
2015 Population           NaN            NaN  9.170380e+07
     GDP                  NaN            NaN  1.935994e+11

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09
...                                ...                 ...           ...
2013 GDP                           NaN        1.247600e+10  7.643132e+13
2014 Population                    NaN        4.294682e+06  7.260780e+09
     GDP                           NaN        1.271560e+10  7.810634e+13
2015 Population                    NaN        4.422143e+06  7.346633e+09
     GDP                           NaN        1.267740e+10  7.343364e+13

country           Yemen, Rep.        Zambia      Zimbabwe
year
1960 Population           NaN  3.049586e+06  3.752390e+06
     GDP                  NaN  6.987397e+08  1.052990e+09
1961 Population           NaN  3.142848e+06  3.876638e+06
     GDP                  NaN  6.823597e+08  1.096647e+09
1962 Population           NaN  3.240664e+06  4.006262e+06
...                       ...           ...           ...
2013 GDP         3.595450e+10  2.804552e+10  1.349023e+10
2014 Population           NaN  1.572134e+07  1.524586e+07
     GDP                  NaN  2.713464e+10  1.419691e+10
2015 Population           NaN  1.621177e+07  1.560275e+07
     GDP                  NaN  2.120156e+10  1.389294e+10

[112 rows x 252 columns]

In [74]:
s.unstack(1)

year                            1960          1961          1962  \
country
Afghanistan Population  8.994793e+06  9.164945e+06  9.343772e+06
            GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.112489e+07  1.140486e+07  1.169015e+07
...                              ...           ...           ...
Yemen, Rep. GDP                  NaN           NaN           NaN
Zambia      Population  3.049586e+06  3.142848e+06  3.240664e+06
            GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe    Population  3.752390e+06  3.876638e+06  4.006262e+06
            GDP         1.052990e+09  1.096647e+09  1.117602e+09

year                            1963          1964          1965  \
country
Afghanistan Population  9.531555e+06  9.728645e+06  9.935358e+06
            GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.198513e+07  1.229597e+07  1.262695e+07
...                              ...           ...           ...
Yemen, Rep. GDP                  NaN           NaN           NaN
Zambia      Population  3.342894e+06  3.449266e+06  3.559687e+06
            GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe    Population  4.140804e+06  4.279561e+06  4.422132e+06
            GDP         1.159512e+09  1.217138e+09  1.311436e+09

year                            1966          1967          1968  \
country
Afghanistan Population  1.014884e+07  1.036860e+07  1.059979e+07
            GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania     Population           NaN           NaN           NaN
            GDP                  NaN           NaN           NaN
Algeria     Population  1.298027e+07  1.335420e+07  1.374438e+07
...                              ...           ...           ...
Yemen, Rep. GDP                  NaN           NaN           NaN
Zambia      Population  3.674088e+06  3.792864e+06  3.916928e+06
            GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe    Population  4.568320e+06  4.718612e+06  4.874113e+06
            GDP         1.281750e+09  1.397002e+09  1.479600e+09

year                            1969  ...          2006          2007  \
country                               ...
Afghanistan Population  1.084951e+07  ...  2.518362e+07  2.587754e+07
            GDP         1.408889e+09  ...  7.057598e+09  9.843842e+09
Albania     Population           NaN  ...  2.992547e+06  2.970017e+06
            GDP                  NaN  ...  8.992642e+09  1.070101e+10
Algeria     Population  1.414444e+07  ...  3.374933e+07  3.426197e+07
...                              ...  ...           ...           ...
Yemen, Rep. GDP                  NaN  ...  1.908173e+10  2.563367e+10
Zambia      Population  4.047479e+06  ...  1.238151e+07  1.273868e+07
            GDP         1.926399e+09  ...  1.275686e+10  1.405696e+10
Zimbabwe    Population  5.036321e+06  ...  1.312794e+07  1.329780e+07
            GDP         1.747999e+09  ...  5.443896e+09  5.291950e+09

year                            2008          2009          2010  \
country
Afghanistan Population  2.652874e+07  2.720729e+07  2.796221e+07
            GDP         1.019053e+10  1.248694e+10  1.593680e+10
Albania     Population  2.947314e+06  2.927519e+06  2.913021e+06
            GDP         1.288135e+10  1.204421e+10  1.192695e+10
Algeria     Population  3.481106e+07  3.540179e+07  3.603616e+07
...                              ...           ...           ...
Yemen, Rep. GDP         3.039720e+10  2.845950e+10  3.090675e+10
Zambia      Population  1.311458e+07  1.350785e+07  1.391744e+07
            GDP         1.791086e+10  1.532834e+10  2.026555e+10
Zimbabwe    Population  1.349546e+07  1.372100e+07  1.397390e+07
            GDP         4.415703e+09  8.157077e+09  9.422161e+09

year                            2011          2012          2013  \
country
Afghanistan Population  2.880917e+07  2.972680e+07  3.068250e+07
            GDP         1.793024e+10  2.053654e+10  2.004633e+10
Albania     Population  2.904780e+06  2.900247e+06  2.896652e+06
            GDP         1.289087e+10  1.231978e+10  1.278103e+10
Algeria     Population  3.671713e+07  3.743943e+07  3.818614e+07
...                              ...           ...           ...
Yemen, Rep. GDP         3.107886e+10  3.207477e+10  3.595450e+10
Zambia      Population  1.434353e+07  1.478658e+07  1.524609e+07
            GDP         2.345952e+10  2.550306e+10  2.804552e+10
Zimbabwe    Population  1.425559e+07  1.456548e+07  1.489809e+07
            GDP         1.095623e+10  1.239272e+10  1.349023e+10

year                            2014          2015
country
Afghanistan Population  3.162751e+07  3.252656e+07
            GDP         2.005019e+10  1.919944e+10
Albania     Population  2.893654e+06  2.889167e+06
            GDP         1.327796e+10  1.145560e+10
Algeria     Population  3.893433e+07  3.966652e+07
...                              ...           ...
Yemen, Rep. GDP                  NaN           NaN
Zambia      Population  1.572134e+07  1.621177e+07
            GDP         2.713464e+10  2.120156e+10
Zimbabwe    Population  1.524586e+07  1.560275e+07
            GDP         1.419691e+10  1.389294e+10

[504 rows x 56 columns]

In [76]:
s.unstack(-1)
##the same as 2

                  Population           GDP
country     year
Afghanistan 1960   8994793.0  5.377778e+08
            1961   9164945.0  5.488889e+08
            1962   9343772.0  5.466667e+08
            1963   9531555.0  7.511112e+08
            1964   9728645.0  8.000000e+08
...                      ...           ...
Zimbabwe    2011  14255592.0  1.095623e+10
            2012  14565482.0  1.239272e+10
            2013  14898092.0  1.349023e+10
            2014  15245855.0  1.419691e+10
            2015  15602751.0  1.389294e+10

[11211 rows x 2 columns]

In [77]:
s.unstack("country")

country           Afghanistan       Albania       Algeria       Andorra  \
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
...                       ...           ...           ...           ...
2013 GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                Angola  Antigua and Barbuda    Arab World  \
year
1960 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1961 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1962 Population           NaN                  NaN           NaN
...                       ...                  ...           ...
2013 GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014 Population  2.422752e+07         9.090000e+04  3.842226e+08
     GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015 Population  2.502197e+07         9.181800e+04  3.920223e+08
     GDP         1.026431e+11         1.297285e+09  2.530102e+12

country             Argentina       Armenia  Aruba  ...    Uzbekistan  \
year                                                ...
1960 Population           NaN           NaN    NaN  ...           NaN
     GDP                  NaN           NaN    NaN  ...           NaN
1961 Population           NaN           NaN    NaN  ...           NaN
     GDP                  NaN           NaN    NaN  ...           NaN
1962 Population  2.128768e+07           NaN    NaN  ...           NaN
...                       ...           ...    ...  ...           ...
2013 GDP         6.239320e+11  1.112147e+10    NaN  ...  5.679566e+10
2014 Population  4.298003e+07  3.006154e+06    NaN  ...  3.075770e+07
     GDP         5.480549e+11  1.164444e+10    NaN  ...  6.313285e+10
2015 Population           NaN  3.017712e+06    NaN  ...  3.129950e+07
     GDP                  NaN  1.056140e+10    NaN  ...  6.673280e+10

country               Vanuatu  Venezuela, RB       Vietnam  \
year
1960 Population           NaN   8.146845e+06           NaN
     GDP                  NaN   8.607600e+09           NaN
1961 Population           NaN   8.461684e+06           NaN
     GDP                  NaN   8.923367e+09           NaN
1962 Population           NaN   8.790590e+06           NaN
...                       ...            ...           ...
2013 GDP         8.017876e+08   3.713366e+11  1.712220e+11
2014 Population  2.588830e+05            NaN  9.072890e+07
     GDP         8.149546e+08            NaN  1.862047e+11
2015 Population           NaN            NaN  9.170380e+07
     GDP                  NaN            NaN  1.935994e+11

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09
...                                ...                 ...           ...
2013 GDP                           NaN        1.247600e+10  7.643132e+13
2014 Population                    NaN        4.294682e+06  7.260780e+09
     GDP                           NaN        1.271560e+10  7.810634e+13
2015 Population                    NaN        4.422143e+06  7.346633e+09
     GDP                           NaN        1.267740e+10  7.343364e+13

country           Yemen, Rep.        Zambia      Zimbabwe
year
1960 Population           NaN  3.049586e+06  3.752390e+06
     GDP                  NaN  6.987397e+08  1.052990e+09
1961 Population           NaN  3.142848e+06  3.876638e+06
     GDP                  NaN  6.823597e+08  1.096647e+09
1962 Population           NaN  3.240664e+06  4.006262e+06
...                       ...           ...           ...
2013 GDP         3.595450e+10  2.804552e+10  1.349023e+10
2014 Population           NaN  1.572134e+07  1.524586e+07
     GDP                  NaN  2.713464e+10  1.419691e+10
2015 Population           NaN  1.621177e+07  1.560275e+07
     GDP                  NaN  2.120156e+10  1.389294e+10

[112 rows x 252 columns]

In [78]:
s.unstack([0,2])

country   Arab World               Caribbean small states                \
          Population           GDP             Population           GDP
year
1960             NaN           NaN              4190810.0  1.917148e+09
1961             NaN           NaN              4270928.0  2.074885e+09
1962             NaN           NaN              4353408.0  2.189411e+09
1963             NaN           NaN              4435830.0  2.325296e+09
1964             NaN           NaN              4514432.0  2.512062e+09
1965             NaN           NaN              4586896.0  2.704965e+09
1966             NaN           NaN              4653340.0  2.933736e+09
1967             NaN           NaN              4713767.0  3.149145e+09
1968     115557094.0  2.552596e+10              4770152.0  3.131418e+09
1969     118823872.0  2.817577e+10              4825706.0  3.407817e+09
1970     122128175.0  3.109149e+10              4882583.0  3.749358e+09
1971     125439089.0  3.610721e+10              4940523.0  4.076301e+09
1972     128801209.0  4.296931e+10              4999973.0  4.719097e+09
1973     132298955.0  5.459015e+10              5060335.0  5.155033e+09
1974     136044481.0  1.046016e+11              5120227.0  6.701493e+09
1975     140114424.0  1.156689e+11              5178940.0  7.841504e+09
1976     144542039.0  1.440150e+11              5237098.0  8.046930e+09
1977     149296257.0  1.662786e+11              5293790.0  9.355744e+09
1978     154303887.0  1.838423e+11              5350330.0  9.526092e+09
1979     159455867.0  2.480520e+11              5409054.0  1.090447e+10
1980     164670713.0  3.381542e+11              5471020.0  1.339190e+10
1981     169926632.0  3.480645e+11              5531599.0  1.477605e+10
1982     175237742.0  3.241990e+11              5599100.0  1.639950e+10
1983     180606318.0  3.040181e+11              5667553.0  1.661003e+10
1984     186005735.0  3.080804e+11              5732089.0  1.583279e+10
1985     191564251.0  3.038083e+11              5786277.0  1.561181e+10
1986     197202142.0  2.890606e+11              5831154.0  1.420663e+10
1987     202851923.0  3.129250e+11              5863744.0  1.525287e+10
1988     208546282.0  3.074560e+11              5886592.0  1.615296e+10
1989     214250542.0  3.221911e+11              5923643.0  1.653281e+10
1990     222117305.0  4.460181e+11              5960368.0  1.766153e+10
1991     228171034.0  4.388799e+11              6001738.0  1.736449e+10
1992     232417246.0  4.703749e+11              6047269.0  1.705809e+10
1993     238628852.0  4.756916e+11              6096016.0  1.796262e+10
1994     244893420.0  4.866723e+11              6146503.0  1.905454e+10
1995     252591048.0  5.228684e+11              6197620.0  2.090649e+10
1996     258423164.0  5.773078e+11              6258158.0  2.278105e+10
1997     264153948.0  6.123037e+11              6312682.0  2.547135e+10
1998     269795252.0  5.905141e+11              6365223.0  2.795672e+10
1999     275503565.0  6.431349e+11              6411686.0  2.972207e+10
2000     281326250.0  7.339481e+11              6454716.0  3.220665e+10
2001     287291826.0  7.221506e+11              6497461.0  3.314777e+10
2002     293402563.0  7.279939e+11              6532561.0  3.493267e+10
2003     299731956.0  8.218702e+11              6567210.0  3.746913e+10
2004     306387415.0  9.639180e+11              6603018.0  4.115416e+10
2005     313430911.0  1.184735e+12              6640916.0  4.662698e+10
2006     320906736.0  1.404190e+12              6681231.0  5.239154e+10
2007     328766559.0  1.641666e+12              6723587.0  5.827707e+10
2008     336886468.0  2.081343e+12              6767278.0  6.647066e+10
2009     345054176.0  1.798878e+12              6811213.0  5.591058e+10
2010     353112237.0  2.103825e+12              6854569.0  5.963144e+10
2011     361031820.0  2.497945e+12              6896697.0  6.464424e+10
2012     368802611.0  2.773270e+12              6937108.0  6.650528e+10
2013     376504253.0  2.846994e+12              6975754.0  6.937135e+10
2014     384222592.0  2.873600e+12              7012857.0  7.132780e+10
2015     392022276.0  2.530102e+12              7048966.0  7.087662e+10

country Central Europe and the Baltics                \
                            Population           GDP
year
1960                               NaN           NaN
1961                               NaN           NaN
1962                               NaN           NaN
1963                               NaN           NaN
1964                               NaN           NaN
1965                               NaN           NaN
1966                               NaN           NaN
1967                               NaN           NaN
1968                               NaN           NaN
1969                               NaN           NaN
1970                               NaN           NaN
1971                               NaN           NaN
1972                               NaN           NaN
1973                               NaN           NaN
1974                               NaN           NaN
1975                               NaN           NaN
1976                               NaN           NaN
1977                               NaN           NaN
1978                               NaN           NaN
1979                               NaN           NaN
1980                               NaN           NaN
1981                               NaN           NaN
1982                               NaN           NaN
1983                               NaN           NaN
1984                               NaN           NaN
1985                               NaN           NaN
1986                               NaN           NaN
1987                               NaN           NaN
1988                               NaN           NaN
1989                               NaN           NaN
1990                       110745760.0  2.541262e+11
1991                       110290445.0  2.409349e+11
1992                       110005636.0  2.579391e+11
1993                       110081461.0  2.720084e+11
1994                       110019570.0  3.085027e+11
1995                       109913216.0  3.832960e+11
1996                       109563097.0  4.097093e+11
1997                       109459093.0  4.072766e+11
1998                       109207205.0  4.463486e+11
1999                       109092730.0  4.323778e+11
2000                       108405522.0  4.275075e+11
2001                       107811539.0  4.681185e+11
2002                       107128884.0  5.270927e+11
2003                       106808998.0  6.342131e+11
2004                       106530417.0  7.608106e+11
2005                       106254694.0  8.837415e+11
2006                       105999320.0  1.000067e+12
2007                       105504531.0  1.260066e+12
2008                       105126686.0  1.519068e+12
2009                       104924372.0  1.276034e+12
2010                       104543801.0  1.311611e+12
2011                       104174038.0  1.444816e+12
2012                       103935318.0  1.348873e+12
2013                       103713726.0  1.419326e+12
2014                       103496179.0  1.457646e+12
2015                       103318638.0  1.273221e+12

country Early-demographic dividend               East Asia & Pacific  \
                        Population           GDP          Population
year
1960                  9.800676e+08  1.540623e+11        1.042480e+09
1961                  1.003380e+09  1.551302e+11        1.045794e+09
1962                  1.027455e+09  1.605066e+11        1.059977e+09
1963                  1.052236e+09  1.697938e+11        1.085453e+09
1964                  1.077760e+09  1.947315e+11        1.110564e+09
1965                  1.104011e+09  2.125255e+11        1.136734e+09
1966                  1.130980e+09  2.093233e+11        1.166341e+09
1967                  1.158749e+09  2.196117e+11        1.195013e+09
1968                  1.187224e+09  2.374030e+11        1.224110e+09
1969                  1.216496e+09  2.652896e+11        1.256740e+09
1970                  1.246584e+09  2.802648e+11        1.289405e+09
1971                  1.277520e+09  3.030615e+11        1.323057e+09
1972                  1.309265e+09  3.329342e+11        1.354930e+09
1973                  1.341833e+09  4.258252e+11        1.385247e+09
1974                  1.375076e+09  5.962390e+11        1.415351e+09
1975                  1.408970e+09  6.409453e+11        1.442570e+09
1976                  1.443466e+09  7.006378e+11        1.466838e+09
1977                  1.478619e+09  7.839028e+11        1.489759e+09
1978                  1.514688e+09  8.682710e+11        1.512554e+09
1979                  1.552056e+09  1.055005e+12        1.535753e+09
1980                  1.590931e+09  1.302882e+12        1.558472e+09
1981                  1.631355e+09  1.456146e+12        1.581904e+09
1982                  1.673182e+09  1.384589e+12        1.607549e+09
1983                  1.716153e+09  1.398166e+12        1.633142e+09
1984                  1.759875e+09  1.376685e+12        1.657498e+09
1985                  1.804081e+09  1.409467e+12        1.682528e+09
1986                  1.848663e+09  1.428121e+12        1.709259e+09
1987                  1.893587e+09  1.439030e+12        1.737476e+09
1988                  1.938611e+09  1.550985e+12        1.765937e+09
1989                  1.983465e+09  1.585843e+12        1.793759e+09
1990                  2.029981e+09  1.826236e+12        1.820617e+09
1991                  2.074307e+09  1.934239e+12        1.846419e+09
1992                  2.118156e+09  2.119935e+12        1.870517e+09
1993                  2.161776e+09  2.317277e+12        1.893718e+09
1994                  2.205479e+09  2.425291e+12        1.916929e+09
1995                  2.249548e+09  2.486372e+12        1.939959e+09
1996                  2.294124e+09  2.715128e+12        1.962650e+09
1997                  2.339056e+09  2.900807e+12        1.984872e+09
1998                  2.384027e+09  2.855593e+12        2.006354e+09
1999                  2.428751e+09  3.028972e+12        2.026516e+09
2000                  2.473204e+09  3.284075e+12        2.045729e+09
2001                  2.516977e+09  3.248589e+12        2.064266e+09
2002                  2.559959e+09  3.153810e+12        2.081848e+09
2003                  2.602700e+09  3.522278e+12        2.098602e+09
2004                  2.645384e+09  4.109318e+12        2.114744e+09
2005                  2.688160e+09  4.789642e+12        2.130542e+09
2006                  2.731071e+09  5.485886e+12        2.146013e+09
2007                  2.774122e+09  6.523588e+12        2.160761e+09
2008                  2.817325e+09  7.336331e+12        2.175670e+09
2009                  2.860676e+09  7.057714e+12        2.190186e+09
2010                  2.904408e+09  8.545646e+12        2.204613e+09
2011                  2.948206e+09  9.527991e+12        2.219109e+09
2012                  2.991724e+09  9.970409e+12        2.233937e+09
2013                  3.035326e+09  1.015347e+13        2.248920e+09
2014                  3.079002e+09  1.026758e+13        2.264064e+09
2015                  3.122703e+09  9.844617e+12        2.279186e+09

country                ... Virgin Islands (U.S.)                \
                  GDP  ...            Population           GDP
year                   ...
1960     1.532608e+11  ...               32000.0  2.420000e+07
1961     1.538969e+11  ...               34100.0  2.570000e+07
1962     1.574052e+11  ...               36300.0  3.690000e+07
1963     1.754783e+11  ...               38700.0  4.140000e+07
1964     2.017337e+11  ...               41300.0  5.380000e+07
1965     2.245906e+11  ...               44000.0  6.650000e+07
1966     2.510597e+11  ...               47300.0  8.410000e+07
1967     2.721012e+11  ...               50800.0  1.154000e+08
1968     2.999124e+11  ...               54600.0  1.738000e+08
1969     3.454696e+11  ...               58600.0  2.113000e+08
1970     4.048883e+11  ...               63000.0  2.190000e+08
1971     4.492844e+11  ...               71000.0  2.570000e+08
1972     5.572220e+11  ...               76000.0  3.071000e+08
1973     7.346258e+11  ...               84000.0  3.516000e+08
1974     8.467276e+11  ...               90000.0  3.954000e+08
1975     9.271279e+11  ...               94000.0  3.998000e+08
1976     1.019820e+12  ...               96000.0  4.400000e+08
1977     1.215747e+12  ...               93000.0  4.618000e+08
1978     1.534539e+12  ...               96000.0  5.129000e+08
1979     1.667961e+12  ...               96000.0  6.067000e+08
1980     1.804118e+12  ...               97000.0  7.278000e+08
1981     1.993390e+12  ...               98000.0  8.218000e+08
1982     1.950560e+12  ...              102000.0  8.326000e+08
1983     2.068410e+12  ...              104000.0  9.169000e+08
1984     2.216861e+12  ...              108000.0  9.854000e+08
1985     2.349448e+12  ...              107000.0  9.904000e+08
1986     3.059775e+12  ...              106500.0  1.035600e+09
1987     3.578743e+12  ...              106000.0  1.147800e+09
1988     4.311280e+12  ...              104500.0  1.204600e+09
1989     4.512167e+12  ...              103000.0  1.343900e+09
1990     4.723765e+12  ...              103963.0  1.564700e+09
1991     5.321556e+12  ...              104807.0  1.671200e+09
1992     5.807720e+12  ...              105711.0  1.770900e+09
1993     6.505779e+12  ...              106577.0  1.996000e+09
1994     7.259201e+12  ...                   NaN           NaN
1995     8.196923e+12  ...                   NaN           NaN
1996     7.882231e+12  ...                   NaN           NaN
1997     7.571010e+12  ...                   NaN           NaN
1998     6.749634e+12  ...                   NaN           NaN
1999     7.536036e+12  ...                   NaN           NaN
2000     8.134973e+12  ...                   NaN           NaN
2001     7.569472e+12  ...                   NaN           NaN
2002     7.699642e+12  ...                   NaN           NaN
2003     8.466425e+12  ...                   NaN           NaN
2004     9.495504e+12  ...                   NaN           NaN
2005     1.010979e+13  ...                   NaN           NaN
2006     1.073505e+13  ...                   NaN           NaN
2007     1.203439e+13  ...                   NaN           NaN
2008     1.387994e+13  ...                   NaN           NaN
2009     1.428673e+13  ...                   NaN           NaN
2010     1.667398e+13  ...                   NaN           NaN
2011     1.930519e+13  ...                   NaN           NaN
2012     2.067276e+13  ...                   NaN           NaN
2013     2.087574e+13  ...                   NaN           NaN
2014     2.148975e+13  ...                   NaN           NaN
2015     2.128119e+13  ...                   NaN           NaN

country West Bank and Gaza               Yemen, Rep.                \
                Population           GDP  Population           GDP
year
1960                   NaN           NaN         NaN           NaN
1961                   NaN           NaN         NaN           NaN
1962                   NaN           NaN         NaN           NaN
1963                   NaN           NaN         NaN           NaN
1964                   NaN           NaN         NaN           NaN
1965                   NaN           NaN         NaN           NaN
1966                   NaN           NaN         NaN           NaN
1967                   NaN           NaN         NaN           NaN
1968                   NaN           NaN         NaN           NaN
1969                   NaN           NaN         NaN           NaN
1970                   NaN           NaN         NaN           NaN
1971                   NaN           NaN         NaN           NaN
1972                   NaN           NaN         NaN           NaN
1973                   NaN           NaN         NaN           NaN
1974                   NaN           NaN         NaN           NaN
1975                   NaN           NaN         NaN           NaN
1976                   NaN           NaN         NaN           NaN
1977                   NaN           NaN         NaN           NaN
1978                   NaN           NaN         NaN           NaN
1979                   NaN           NaN         NaN           NaN
1980                   NaN           NaN         NaN           NaN
1981                   NaN           NaN         NaN           NaN
1982                   NaN           NaN         NaN           NaN
1983                   NaN           NaN         NaN           NaN
1984                   NaN           NaN         NaN           NaN
1985                   NaN           NaN         NaN           NaN
1986                   NaN           NaN         NaN           NaN
1987                   NaN           NaN         NaN           NaN
1988                   NaN           NaN         NaN           NaN
1989                   NaN           NaN         NaN           NaN
1990                   NaN           NaN  11961099.0  5.647252e+09
1991                   NaN           NaN  12571240.0  5.930370e+09
1992                   NaN           NaN  13245003.0  6.463650e+09
1993                   NaN           NaN  13948118.0  5.368271e+09
1994             2366298.0  2.843300e+09  14633091.0  4.167356e+09
1995             2474666.0  3.282800e+09  15266147.0  4.258789e+09
1996             2587997.0  3.409600e+09  15834747.0  5.785685e+09
1997             2706518.0  3.759800e+09  16349809.0  6.839039e+09
1998             2776568.0  4.067800e+09  16829935.0  6.325220e+09
1999             2848431.0  4.271200e+09  17304422.0  7.641101e+09
2000             2922153.0  4.313600e+09  17795219.0  9.636342e+09
2001             2997784.0  4.003700e+09  18306287.0  9.854042e+09
2002             3075373.0  3.555800e+09  18832097.0  1.069328e+10
2003             3154969.0  3.968000e+09  19374012.0  1.177777e+10
2004             3236626.0  4.329200e+09  19931617.0  1.387350e+10
2005             3320396.0  4.831800e+09  20504385.0  1.675377e+10
2006             3406334.0  4.910100e+09  21093973.0  1.908173e+10
2007             3494496.0  5.505800e+09  21701105.0  2.563367e+10
2008             3596688.0  6.673500e+09  22322699.0  3.039720e+10
2009             3702218.0  7.268200e+09  22954226.0  2.845950e+10
2010             3811102.0  8.913100e+09  23591972.0  3.090675e+10
2011             3927051.0  1.045985e+10  24234940.0  3.107886e+10
2012             4046901.0  1.127940e+10  24882792.0  3.207477e+10
2013             4169506.0  1.247600e+10  25533217.0  3.595450e+10
2014             4294682.0  1.271560e+10         NaN           NaN
2015             4422143.0  1.267740e+10         NaN           NaN

country      Zambia                  Zimbabwe
         Population           GDP  Population           GDP
year
1960      3049586.0  6.987397e+08   3752390.0  1.052990e+09
1961      3142848.0  6.823597e+08   3876638.0  1.096647e+09
1962      3240664.0  6.792797e+08   4006262.0  1.117602e+09
1963      3342894.0  7.043397e+08   4140804.0  1.159512e+09
1964      3449266.0  8.226397e+08   4279561.0  1.217138e+09
1965      3559687.0  1.061200e+09   4422132.0  1.311436e+09
1966      3674088.0  1.239000e+09   4568320.0  1.281750e+09
1967      3792864.0  1.340639e+09   4718612.0  1.397002e+09
1968      3916928.0  1.573739e+09   4874113.0  1.479600e+09
1969      4047479.0  1.926399e+09   5036321.0  1.747999e+09
1970      4185378.0  1.788779e+09   5206311.0  1.884206e+09
1971      4331002.0  1.653259e+09   5385342.0  2.178716e+09
1972      4484141.0  1.872417e+09   5573312.0  2.677729e+09
1973      4644329.0  2.434255e+09   5768382.0  3.309354e+09
1974      4810810.0  2.910981e+09   5967861.0  3.982161e+09
1975      4983017.0  2.442672e+09   6170284.0  4.371301e+09
1976      5160570.0  2.742859e+09   6373956.0  4.318372e+09

In [79]:
s.unstack([2,0])

,Population,GDP,Population,GDP,Population,GDP,Population,GDP,Population,GDP,...,Population,GDP,Population,GDP,Population,GDP,Population,GDP,Population,GDP
country,Arab World,Arab World,Caribbean small states,Caribbean small states,Central Europe and the Baltics,Central Europe and the Baltics,Early-demographic dividend,Early-demographic dividend,East Asia & Pacific,East Asia & Pacific,...,Virgin Islands (U.S.),Virgin Islands (U.S.),West Bank and Gaza,West Bank and Gaza,"Yemen, Rep.","Yemen, Rep.",Zambia,Zambia,Zimbabwe,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,NaN,4190810.0,1.917148e+09,NaN,NaN,9.800676e+08,1.540623e+11,1.042480e+09,1.532608e+11,...,32000.0,2.420000e+07,NaN,NaN,NaN,NaN,3049586.0,6.987397e+08,3752390.0,1.052990e+09
1961,NaN,NaN,4270928.0,2.074885e+09,NaN,NaN,1.003380e+09,1.551302e+11,1.045794e+09,1.538969e+11,...,34100.0,2.570000e+07,NaN,NaN,NaN,NaN,3142848.0,6.823597e+08,3876638.0,1.096647e+09
1962,NaN,NaN,4353408.0,2.189411e+09,NaN,NaN,1.027455e+09,1.605066e+11,1.059977e+09,1.574052e+11,...,36300.0,3.690000e+07,NaN,NaN,NaN,NaN,3240664.0,6.792797e+08,4006262.0,1.117602e+09
1963,NaN,NaN,4435830.0,2.325296e+09,NaN,NaN,1.052236e+09,1.697938e+11,1.085453e+09,1.754783e+11,...,38700.0,4.140000e+07,NaN,NaN,NaN,NaN,3342894.0,7.043397e+08,4140804.0,1.159512e+09
1964,NaN,NaN,4514432.0,2.512062e+09,NaN,NaN,1.077760e+09,1.947315e+11,1.110564e+09,2.017337e+11,...,41300.0,5.380000e+07,NaN,NaN,NaN,NaN,3449266.0,8.226397e+08,4279561.0,1.217138e+09
1965,NaN,NaN,4586896.0,2.704965e+09,NaN,NaN,1.104011e+09,2.125255e+11,1.136734e+09,2.245906e+11,...,44000.0,6.650000e+07,NaN,NaN,NaN,NaN,3559687.0,1.061200e+09,4422132.0,1.311436e+09
1966,NaN,NaN,4653340.0,2.933736e+09,NaN,NaN,1.130980e+09,2.093233e+11,1.166341e+09,2.510597e+11,...,47300.0,8.410000e+07,NaN,NaN,NaN,NaN,3674088.0,1.239000e+09,4568320.0,1.281750e+09
1967,NaN,NaN,4713767.0,3.149145e+09,NaN,NaN,1.158749e+09,2.196117e+11,1.195013e+09,2.721012e+11,...,50800.0,1.154000e+08,NaN,NaN,NaN,NaN,3792864.0,1.340639e+09,4718612.0,1.397002e+09
1968,115557094.0,2.552596e+10,4770152.0,3.131418e+09,NaN,NaN,1.187224e+09,2.374030e+11,1.224110e+09,2.999124e+11,...,54600.0,1.738000e+08,NaN,NaN,NaN,NaN,3916928.0,1.573739e+09,4874113.0,1.479600e+09
1969,118823872.0,2.817577e+10,4825706.0,3.407817e+09,NaN,NaN,1.216496e+09,2.652896e+11,1.256740e+09,3.454696e+11,...,58600.0,2.113000e+08,NaN,NaN,NaN,NaN,4047479.0,1.926399e+09,5036321.0,1.747999e+09
1970,122128175.0,3.109149e+10,4882583.0,3.749358e+09,NaN,NaN,1.246584e+09,2.802648e+11,1.289405e+09,4.048883e+11,...,63000.0,2.190000e+08,NaN,NaN,NaN,NaN,4185378.0,1.788779e+09,5206311.0,1.884206e+09
1971,125439089.0,3.610721e+10,4940523.0,4.076301e+09,NaN,NaN,1.277520e+09,3.030615e+11,1.323057e+09,4.492844e+11,...,71000.0,2.570000e+08,NaN,NaN,NaN,NaN,4331002.0,1.653259e+09,5385342.0,2.178716e+09
1972,128801209.0,4.296931e+10,4999973.0,4.719097e+09,NaN,NaN,1.309265e+09,3.329342e+11,1.354930e+09,5.572220e+11,...,76000.0,3.071000e+08,NaN,NaN,NaN,NaN,4484141.0,1.872417e+09,5573312.0,2.677729e+09
1973,132298955.0,5.459015e+10,5060335.0,5.155033e+09,NaN,NaN,1.341833e+09,4.258252e+11,1.385247e+09,7.346258e+11,...,84000.0,3.516000e+08,NaN,NaN,NaN,NaN,4644329.0,2.434255e+09,5768382.0,3.309354e+09
1974,136044481.0,1.046016e+11,5120227.0,6.701493e+09,NaN,NaN,1.375076e+09,5.962390e+11,1.415351e+09,8.467276e+11,...,90000.0,3.954000e+08,NaN,NaN,NaN,NaN,4810810.0,2.910981e+09,5967861.0,3.982161e+09
1975,140114424.0,1.156689e+11,5178940.0,7.841504e+09,NaN,NaN,1.408970e+09,6.409453e+11,1.442570e+09,9.271279e+11,...,94000.0,3.998000e+08,NaN,NaN,NaN,NaN,4983017.0,2.442672e+09,6170284.0,4.371301e+09
1976,144542039.0,1.440150e+11,5237098.0,8.046930e+09,NaN,NaN,1.443466e+09,7.006378e+11,1.466838e+09,1.019820e+12,...,96000.0,4.400000e+08,NaN,NaN,NaN,NaN,5160570.0,2.742859e+09,6373956.0,4.318372e+09
1977,149296257.0,1.662786e+11,5293790.0,9.355744e+09,NaN,NaN,1.478619e+09,7.839028e+11,1.489759e+09,1.215747e+12,...,93000.0,4.618000e+08,NaN,NaN,NaN,NaN,5343550.0,2.515297e+09,6580739.0,4.364382e+09
1978,154303887.0,1.838423e+11,5350330.0,9.526092e+09,NaN,NaN,1.514688e+09,8.682710e+11,1.512554e+09,1.534539e+12,...,96000.0,5.129000e+08,NaN,NaN,NaN,NaN,5532350.0,2.811032e+09,6796946.0,4.351600e+09
1979,159455867.0,2.480520e+11,5409054.0,1.090447e+10,NaN,NaN,1.552056e+09,1.055005e+12,1.535753e+09,1.667961e+12,...,96000.0,6.067000e+08,NaN,NaN,NaN,NaN,5727577.0,3.353445e+09,7031159.0,5.177459e+09
1980,164670713.0,3.381542e+11,5471020.0,1.339190e+10,NaN,NaN,1.590931e+09,1.302882e+12,1.558472e+09,1.804118e+12,...,97000.0,7.278000e+08,NaN,NaN,NaN,NaN,5929497.0,3.884531e+09,7289083.0,6.678868e+09
1981,169926632.0,3.480645e+11,5531599.0,1.477605e+10,NaN,NaN,1.631355e+09,1.456146e+12,1.581904e+09,1.993390e+12,...,98000.0,8.218000e+08,NaN,NaN,NaN,NaN,6138069.0,4.008126e+09,7571965.0,8.011374e+09
1982,175237742.0,3.241990e+11,5599100.0,1.639950e+10,NaN,NaN,1.673182e+09,1.384589e+12,1.607549e+09,1.950560e+12,...,102000.0,8.326000e+08,NaN,NaN,NaN,NaN,6352561.0,3.871117e+09,7876414.0,8.539701e+09
1983,180606318.0,3.040181e+11,5667553.0,1.661003e+10,NaN,NaN,1.716153e+09,1.398166e+12,1.633142e+09,2.068410e+12,...,104000.0,9.169000e+08,NaN,NaN,NaN,NaN,6571673.0,3.321048e+09,8197564.0,7.764067e+09
1984,186005735.0,3.080804e+11,5732089.0,1.583279e+10,NaN,NaN,1.759875e+09,1.376685e+12,1.657498e+09,2.216861e+12,...,108000.0,9.854000e+08,NaN,NaN,NaN,NaN,6793708.0,2.719519e+09,8528328.0,6.352126e+09
1985,191564251.0,3.038083e+11,5786277.0,1.561181e+10,NaN,NaN,1.804081e+09,1.409467e+12,1.682528e+09,2.349448e+12,...,107000.0,9.904000e+08,NaN,NaN,NaN,NaN,7017292.0,2.252455e+09,8862601.0,5.637259e+09
1986,197202142.0,2.890606e+11,5831154.0,1.420663e+10,NaN,NaN,1.848663e+09,1.428121e+12,1.709259e+09,3.059775e+12,...,106500.0,1.035600e+09,NaN,NaN,NaN,NaN,7242496.0,1.664414e+09,9198874.0,6.217524e+09
1987,202851923.0,3.129250e+11,5863744.0,1.525287e+10,NaN,NaN,1.893587e+09,1.439030e+12,1.737476e+09,3.578743e+12,...,106000.0,1.147800e+09,NaN,NaN,NaN,NaN,7469270.0,2.265251e+09,9535657.0,6.741215e+09
1988,208546282.0,3.074560e+11,5886592.0,1.615296e+10,NaN,NaN,1.938611e+09,1.550985e+12,1.765937e+09,4.311280e+12,...,104500.0,1.204600e+09,NaN,NaN,NaN,NaN,7696070.0,3.728878e+09,9866776.0,7.814784e+09
1989,214250542.0,3.221911e+11,5923643.0,1.653281e+10,NaN,NaN,1.983465e+09,1.585843e+12,1.793759e+09,4.512167e+12,...,103000.0,1.343900e+09,NaN,NaN,NaN,NaN,7921028.0,3.994673e+09,10184966.0,8.286323e+09
1990,222117305.0,4.460181e+11,5960368.0,1.766153e+10,110745760.0,2.541262e+11,2.029981e+09,1.826236e+12,1.820617e+09,4.723765e+12,...,103963.0,1.564700e+09,NaN,NaN,11961099.0,5.647252e+09,8143142.0,3.288382e+09,10484771.0,8.783817e+09
1991,228171034.0,4.388799e+11,6001738.0,1.736449e+10,110290445.0,2.409349e+11,2.074307e+09,1.934239e+12,1.846419e+09,5.321556e+12,...,104807.0,1.671200e+09,NaN,NaN,12571240.0,5.930370e+09,8361381.0,3.378882e+09,10763036.0,8.641482e+09
1992,232417246.0,4.703749e+11,6047269.0,1.705809e+10,110005636.0,2.579391e+11,2.118156e+09,2.119935e+12,1.870517e+09,5.807720e+12,...,105711.0,1.770900e+09,NaN,NaN,13245003.0,6.463650e+09,8576987.0,3.181922e+09,11019717.0,6.751472e+09
1993,238628852.0,4.756916e+11,6096016.0,1.796262e+10,110081461.0,2.720084e+11,2.161776e+09,2.317277e+12,1.893718e+09,6.505779e+12,...,106577.0,1.996000e+09,NaN,NaN,13948118.0,5.368271e+09,8794061.0,3.273238e+09,11256512.0,6.563813e+09
1994,244893420.0,4.866723e+11,6146503.0,1.905454e+10,110019570.0,3.085027e+11,2.205479e+09,2.425291e+12,1.916929e+09,7.259201e+12,...,NaN,NaN,2366298.0,2.843300e+09,14633091.0,4.167356e+09,9018229.0,3.656648e+09,11476807.0,6.890675e+09
1995,252591048.0,5.228684e+11,6197620.0,2.090649e+10,109913216.0,3.832960e+11,2.249548e+09,2.486372e+12,1.939959e+09,8.196923e+12,...,NaN,NaN,2474666.0,3.282800e+09,15266147.0,4.258789e+09,9253527.0,3.807067e+09,11683136.0,7.111271e+09
1996,258423164.0,5.773078e+11,6258158.0,2.278105e+10,109563097.0,4.097093e+11,2.294124e+09,2.715128e+12,1.962650e+09,7.882231e+12,...,NaN,NaN,2587997.0,3.409600e+09,15834747.0,5.785685e+09,9502346.0,3.597221e+09,11877664.0,8.553147e+09
1997,264153948.0,6.123037e+11,6312682.0,2.547135e+10,109459093.0,4.072766e+11,2.339056e+09,2.900807e+12,1.984872e+09,7.571010e+12,...,NaN,NaN,2706518.0,3.759800e+09,16349809.0,6.839039e+09,9763742.0,4.303282e+09,12059858.0,8.529572e+09
1998,269795252.0,5.905141e+11,6365223.0,2.795672e+10,109207205.0,4.463486e+11,2.384027e+09,2.855593e+12,2.006354e+09,6.749634e+12,...,NaN,NaN,2776568.0,4.067800e+09,16829935.0,6.325220e+09,10034412.0,3.537683e+09,12226742.0,6.401968e+09
1999,275503565.0,6.431349e+11,6411686.0,2.972207e+10,109092730.0,4.323778e+11,2.428751e+09,3.028972e+12,2.026516e+09,7.536036e+12,...,NaN,NaN,2848431.0,4.271200e+09,17304422.0,7.641101e+09,10309310.0,3.404312e+09,12374019.0,6.858013e+09
2000,281326250.0,7.339481e+11,6454716.0,3.220665e+10,108405522.0,4.275075e+11,2.473204e+09,3.284075e+12,2.045729e+09,8.134973e+12,...,NaN,NaN,2922153.0,4.313600e+09,17795219.0,9.636342e+09,10585220.0,3.600683e+09,12499981.0,6.689958e+09
2001,287291826.0,7.221506e+11,6497461.0,3.314777e+10,107811539.0,4.681185e+11,2.516977e+09,3.248589e+12,2.064266e+09,7.569472e+12,...,NaN,NaN,2997784.0,4.003700e+09,18306287.0,9.854042e+09,10861238.0,4.094481e+09,12603988.0,6.777385e+09
2002,293402563.0,7.279939e+11,6532561.0,3.493267e+10,107128884.0,5.270927e+11,2.559959e+09,3.153810e+12,2.081848e+09,7.699642e+12,...,NaN,NaN,3075373.0,3.555800e+09,18832097.0,1.069328e+10,11139978.0,4.193846e+09,12691431.0,6.342116e+09
2003,299731956.0,8.218702e+11,6567210.0,3.746913e+10,106808998.0,6.342131e+11,2.602700e+09,3.522278e+12,2.098602e+09,8.466425e+12,...,NaN,NaN,3154969.0,3.968000e+09,19374012.0,1.177777e+10,11426006.0,4.901840e+09,12774162.0,5.727592e+09
2004,306387415.0,9.639180e+11,6603018.0,4.115416e+10,106530417.0,7.608106e+11,2.645384e+09,4.109318e+12,2.114744e+09,9.495504e+12,...,NaN,NaN,3236626.0,4.329200e+09,19931617.0,1.387350e+10,11725635.0,6.221078e+09,12867828.0,5.805598e+09
2005,313430911.0,1.184735e+12,6640916.0,4.662698e+10,106254694.0,8.837415e+11,2.688160e+09,4.789642e+12,2.130542e+09,1.010979e+13,...,NaN,NaN,3320396.0,4.831800e+09,20504385.0,1.675377e+10,12043591.0,8.331870e+09,12984418.0,5.755215e+09
2006,320906736.0,1.404190e+12,6681231.0,5.239154e+10,105999320.0,1.000067e+12,2.731071e+09,5.485886e+12,2.146013e+09,1.073505e+13,...,NaN,NaN,3406334.0,4.910100e+09,21093973.0,1.908173e+10,12381509.0,1.275686e+10,13127942.0,5.443896e+09
2007,328766559.0,1.641666e+12,6723587.0,5.827707e+10,105504531.0,1.260066e+12,2.774122e+09,6.523588e+12,2.160761e+09,1.203439e+13,...,NaN,NaN,3494496.0,5.505800e+09,21701105.0,2.563367e+10,12738676.0,1.405696e+10,13297798.0,5.291950e+09
2008,336886468.0,2.081343e+12,6767278.0,6.647066e+10,105126686.0,1.519068e+12,2.817325e+09,7.336331e+12,2.175670e+09,1.387994e+13,...,NaN,NaN,3596688.0,6.673500e+09,22322699.0,3.039720e+10,13114579.0,1.791086e+10,13495462.0,4.415703e+09
2009,345054176.0,1.798878e+12,6811213.0,5.591058e+10,104924372.0,1.276034e+12,2.860676e+09,7.057714e+12,2.190186e+09,1.428673e+13,...,NaN,NaN,3702218.0,7.268200e+09,22954226.0,2.845950e+10,13507849.0,1.532834e+10,13720997.0,8.157077e+09
2010,353112237.0,2.103825e+12,6854569.0,5.963144e+10,104543801.0,1.311611e+12,2.904408e+09,8.545646e+12,2.204613e+09,1.667398e+13,...,NaN,NaN,3811102.0,8.913100e+09,23591972.0,3.090675e+10,13917439.0,2.026555e+10,13973897.0,9.422161e+09
2011,361031820.0,2.497945e+12,6896697.0,6.464424e+10,104174038.0,1.444816e+12,2.948206e+09,9.527991e+12,2.219109e+09,1.930519e+13,...,NaN,NaN,3927051.0,1.045985e+10,24234940.0,3.107886e+10,14343526.0,2.345952e+10,14255592.0,1.095623e+10
2012,368802611.0,2.773270e+12,6937108.0,6.650528e+10,103935318.0,1.348873e+12,2.991724e+09,9.970409e+12,2.233937e+09,2.067276e+13,...,NaN,NaN,4046901.0,1.127940e+10,24882792.0,3.207477e+10,14786581.0,2.550306e+10,14565482.0,1.239272e+10
2013,376504253.0,2.846994e+12,6975754.0,6.937135e+10,103713726.0,1.419326e+12,3.035326e+09,1.015347e+13,2.248920e+09,2.087574e+13,...,NaN,NaN,4169506.0,1.247600e+10,25533217.0,3.595450e+10,15246086.0,2.804552e+10,14898092.0,1.349023e+10
2014,384222592.0,2.873600e+12,7012857.0,7.132780e+10,103496179.0,1.457646e+12,3.079002e+09,1.026758e+13,2.264064e+09,2.148975e+13,...,NaN,NaN,4294682.0,1.271560e+10,NaN,NaN,15721343.0,2.713464e+10,15245855.0,1.419691e+10
2015,392022276.0,2.530102e+12,7048966.0,7.087662e+10,103318638.0,1.273221e+12,3.122703e+09,9.844617e+12,2.279186e+09,2.128119e+13,...,NaN,NaN,4422143.0,1.267740e+10,NaN,NaN,16211767.0,2.120156e+10,15602751.0,1.389294e+10

In [80]:
s.unstack([2,0], fill_value= 0)

,Population,GDP,Population,GDP,Population,GDP,Population,GDP,Population,GDP,...,Population,GDP,Population,GDP,Population,GDP,Population,GDP,Population,GDP
country,Arab World,Arab World,Caribbean small states,Caribbean small states,Central Europe and the Baltics,Central Europe and the Baltics,Early-demographic dividend,Early-demographic dividend,East Asia & Pacific,East Asia & Pacific,...,Virgin Islands (U.S.),Virgin Islands (U.S.),West Bank and Gaza,West Bank and Gaza,"Yemen, Rep.","Yemen, Rep.",Zambia,Zambia,Zimbabwe,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1960,0.0,0.000000e+00,4190810.0,1.917148e+09,0.0,0.000000e+00,9.800676e+08,1.540623e+11,1.042480e+09,1.532608e+11,...,32000.0,2.420000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3049586.0,6.987397e+08,3752390.0,1.052990e+09
1961,0.0,0.000000e+00,4270928.0,2.074885e+09,0.0,0.000000e+00,1.003380e+09,1.551302e+11,1.045794e+09,1.538969e+11,...,34100.0,2.570000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3142848.0,6.823597e+08,3876638.0,1.096647e+09
1962,0.0,0.000000e+00,4353408.0,2.189411e+09,0.0,0.000000e+00,1.027455e+09,1.605066e+11,1.059977e+09,1.574052e+11,...,36300.0,3.690000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3240664.0,6.792797e+08,4006262.0,1.117602e+09
1963,0.0,0.000000e+00,4435830.0,2.325296e+09,0.0,0.000000e+00,1.052236e+09,1.697938e+11,1.085453e+09,1.754783e+11,...,38700.0,4.140000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3342894.0,7.043397e+08,4140804.0,1.159512e+09
1964,0.0,0.000000e+00,4514432.0,2.512062e+09,0.0,0.000000e+00,1.077760e+09,1.947315e+11,1.110564e+09,2.017337e+11,...,41300.0,5.380000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3449266.0,8.226397e+08,4279561.0,1.217138e+09
1965,0.0,0.000000e+00,4586896.0,2.704965e+09,0.0,0.000000e+00,1.104011e+09,2.125255e+11,1.136734e+09,2.245906e+11,...,44000.0,6.650000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3559687.0,1.061200e+09,4422132.0,1.311436e+09
1966,0.0,0.000000e+00,4653340.0,2.933736e+09,0.0,0.000000e+00,1.130980e+09,2.093233e+11,1.166341e+09,2.510597e+11,...,47300.0,8.410000e+07,0.0,0.000000e+00,0.0,0.000000e+00,3674088.0,1.239000e+09,4568320.0,1.281750e+09
1967,0.0,0.000000e+00,4713767.0,3.149145e+09,0.0,0.000000e+00,1.158749e+09,2.196117e+11,1.195013e+09,2.721012e+11,...,50800.0,1.154000e+08,0.0,0.000000e+00,0.0,0.000000e+00,3792864.0,1.340639e+09,4718612.0,1.397002e+09
1968,115557094.0,2.552596e+10,4770152.0,3.131418e+09,0.0,0.000000e+00,1.187224e+09,2.374030e+11,1.224110e+09,2.999124e+11,...,54600.0,1.738000e+08,0.0,0.000000e+00,0.0,0.000000e+00,3916928.0,1.573739e+09,4874113.0,1.479600e+09
1969,118823872.0,2.817577e+10,4825706.0,3.407817e+09,0.0,0.000000e+00,1.216496e+09,2.652896e+11,1.256740e+09,3.454696e+11,...,58600.0,2.113000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4047479.0,1.926399e+09,5036321.0,1.747999e+09
1970,122128175.0,3.109149e+10,4882583.0,3.749358e+09,0.0,0.000000e+00,1.246584e+09,2.802648e+11,1.289405e+09,4.048883e+11,...,63000.0,2.190000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4185378.0,1.788779e+09,5206311.0,1.884206e+09
1971,125439089.0,3.610721e+10,4940523.0,4.076301e+09,0.0,0.000000e+00,1.277520e+09,3.030615e+11,1.323057e+09,4.492844e+11,...,71000.0,2.570000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4331002.0,1.653259e+09,5385342.0,2.178716e+09
1972,128801209.0,4.296931e+10,4999973.0,4.719097e+09,0.0,0.000000e+00,1.309265e+09,3.329342e+11,1.354930e+09,5.572220e+11,...,76000.0,3.071000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4484141.0,1.872417e+09,5573312.0,2.677729e+09
1973,132298955.0,5.459015e+10,5060335.0,5.155033e+09,0.0,0.000000e+00,1.341833e+09,4.258252e+11,1.385247e+09,7.346258e+11,...,84000.0,3.516000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4644329.0,2.434255e+09,5768382.0,3.309354e+09
1974,136044481.0,1.046016e+11,5120227.0,6.701493e+09,0.0,0.000000e+00,1.375076e+09,5.962390e+11,1.415351e+09,8.467276e+11,...,90000.0,3.954000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4810810.0,2.910981e+09,5967861.0,3.982161e+09
1975,140114424.0,1.156689e+11,5178940.0,7.841504e+09,0.0,0.000000e+00,1.408970e+09,6.409453e+11,1.442570e+09,9.271279e+11,...,94000.0,3.998000e+08,0.0,0.000000e+00,0.0,0.000000e+00,4983017.0,2.442672e+09,6170284.0,4.371301e+09
1976,144542039.0,1.440150e+11,5237098.0,8.046930e+09,0.0,0.000000e+00,1.443466e+09,7.006378e+11,1.466838e+09,1.019820e+12,...,96000.0,4.400000e+08,0.0,0.000000e+00,0.0,0.000000e+00,5160570.0,2.742859e+09,6373956.0,4.318372e+09
1977,149296257.0,1.662786e+11,5293790.0,9.355744e+09,0.0,0.000000e+00,1.478619e+09,7.839028e+11,1.489759e+09,1.215747e+12,...,93000.0,4.618000e+08,0.0,0.000000e+00,0.0,0.000000e+00,5343550.0,2.515297e+09,6580739.0,4.364382e+09
1978,154303887.0,1.838423e+11,5350330.0,9.526092e+09,0.0,0.000000e+00,1.514688e+09,8.682710e+11,1.512554e+09,1.534539e+12,...,96000.0,5.129000e+08,0.0,0.000000e+00,0.0,0.000000e+00,5532350.0,2.811032e+09,6796946.0,4.351600e+09
1979,159455867.0,2.480520e+11,5409054.0,1.090447e+10,0.0,0.000000e+00,1.552056e+09,1.055005e+12,1.535753e+09,1.667961e+12,...,96000.0,6.067000e+08,0.0,0.000000e+00,0.0,0.000000e+00,5727577.0,3.353445e+09,7031159.0,5.177459e+09
1980,164670713.0,3.381542e+11,5471020.0,1.339190e+10,0.0,0.000000e+00,1.590931e+09,1.302882e+12,1.558472e+09,1.804118e+12,...,97000.0,7.278000e+08,0.0,0.000000e+00,0.0,0.000000e+00,5929497.0,3.884531e+09,7289083.0,6.678868e+09
1981,169926632.0,3.480645e+11,5531599.0,1.477605e+10,0.0,0.000000e+00,1.631355e+09,1.456146e+12,1.581904e+09,1.993390e+12,...,98000.0,8.218000e+08,0.0,0.000000e+00,0.0,0.000000e+00,6138069.0,4.008126e+09,7571965.0,8.011374e+09
1982,175237742.0,3.241990e+11,5599100.0,1.639950e+10,0.0,0.000000e+00,1.673182e+09,1.384589e+12,1.607549e+09,1.950560e+12,...,102000.0,8.326000e+08,0.0,0.000000e+00,0.0,0.000000e+00,6352561.0,3.871117e+09,7876414.0,8.539701e+09
1983,180606318.0,3.040181e+11,5667553.0,1.661003e+10,0.0,0.000000e+00,1.716153e+09,1.398166e+12,1.633142e+09,2.068410e+12,...,104000.0,9.169000e+08,0.0,0.000000e+00,0.0,0.000000e+00,6571673.0,3.321048e+09,8197564.0,7.764067e+09
1984,186005735.0,3.080804e+11,5732089.0,1.583279e+10,0.0,0.000000e+00,1.759875e+09,1.376685e+12,1.657498e+09,2.216861e+12,...,108000.0,9.854000e+08,0.0,0.000000e+00,0.0,0.000000e+00,6793708.0,2.719519e+09,8528328.0,6.352126e+09
1985,191564251.0,3.038083e+11,5786277.0,1.561181e+10,0.0,0.000000e+00,1.804081e+09,1.409467e+12,1.682528e+09,2.349448e+12,...,107000.0,9.904000e+08,0.0,0.000000e+00,0.0,0.000000e+00,7017292.0,2.252455e+09,8862601.0,5.637259e+09
1986,197202142.0,2.890606e+11,5831154.0,1.420663e+10,0.0,0.000000e+00,1.848663e+09,1.428121e+12,1.709259e+09,3.059775e+12,...,106500.0,1.035600e+09,0.0,0.000000e+00,0.0,0.000000e+00,7242496.0,1.664414e+09,9198874.0,6.217524e+09
1987,202851923.0,3.129250e+11,5863744.0,1.525287e+10,0.0,0.000000e+00,1.893587e+09,1.439030e+12,1.737476e+09,3.578743e+12,...,106000.0,1.147800e+09,0.0,0.000000e+00,0.0,0.000000e+00,7469270.0,2.265251e+09,9535657.0,6.741215e+09
1988,208546282.0,3.074560e+11,5886592.0,1.615296e+10,0.0,0.000000e+00,1.938611e+09,1.550985e+12,1.765937e+09,4.311280e+12,...,104500.0,1.204600e+09,0.0,0.000000e+00,0.0,0.000000e+00,7696070.0,3.728878e+09,9866776.0,7.814784e+09
1989,214250542.0,3.221911e+11,5923643.0,1.653281e+10,0.0,0.000000e+00,1.983465e+09,1.585843e+12,1.793759e+09,4.512167e+12,...,103000.0,1.343900e+09,0.0,0.000000e+00,0.0,0.000000e+00,7921028.0,3.994673e+09,10184966.0,8.286323e+09
1990,222117305.0,4.460181e+11,5960368.0,1.766153e+10,110745760.0,2.541262e+11,2.029981e+09,1.826236e+12,1.820617e+09,4.723765e+12,...,103963.0,1.564700e+09,0.0,0.000000e+00,11961099.0,5.647252e+09,8143142.0,3.288382e+09,10484771.0,8.783817e+09
1991,228171034.0,4.388799e+11,6001738.0,1.736449e+10,110290445.0,2.409349e+11,2.074307e+09,1.934239e+12,1.846419e+09,5.321556e+12,...,104807.0,1.671200e+09,0.0,0.000000e+00,12571240.0,5.930370e+09,8361381.0,3.378882e+09,10763036.0,8.641482e+09
1992,232417246.0,4.703749e+11,6047269.0,1.705809e+10,110005636.0,2.579391e+11,2.118156e+09,2.119935e+12,1.870517e+09,5.807720e+12,...,105711.0,1.770900e+09,0.0,0.000000e+00,13245003.0,6.463650e+09,8576987.0,3.181922e+09,11019717.0,6.751472e+09
1993,238628852.0,4.756916e+11,6096016.0,1.796262e+10,110081461.0,2.720084e+11,2.161776e+09,2.317277e+12,1.893718e+09,6.505779e+12,...,106577.0,1.996000e+09,0.0,0.000000e+00,13948118.0,5.368271e+09,8794061.0,3.273238e+09,11256512.0,6.563813e+09
1994,244893420.0,4.866723e+11,6146503.0,1.905454e+10,110019570.0,3.085027e+11,2.205479e+09,2.425291e+12,1.916929e+09,7.259201e+12,...,0.0,0.000000e+00,2366298.0,2.843300e+09,14633091.0,4.167356e+09,9018229.0,3.656648e+09,11476807.0,6.890675e+09
1995,252591048.0,5.228684e+11,6197620.0,2.090649e+10,109913216.0,3.832960e+11,2.249548e+09,2.486372e+12,1.939959e+09,8.196923e+12,...,0.0,0.000000e+00,2474666.0,3.282800e+09,15266147.0,4.258789e+09,9253527.0,3.807067e+09,11683136.0,7.111271e+09
1996,258423164.0,5.773078e+11,6258158.0,2.278105e+10,109563097.0,4.097093e+11,2.294124e+09,2.715128e+12,1.962650e+09,7.882231e+12,...,0.0,0.000000e+00,2587997.0,3.409600e+09,15834747.0,5.785685e+09,9502346.0,3.597221e+09,11877664.0,8.553147e+09
1997,264153948.0,6.123037e+11,6312682.0,2.547135e+10,109459093.0,4.072766e+11,2.339056e+09,2.900807e+12,1.984872e+09,7.571010e+12,...,0.0,0.000000e+00,2706518.0,3.759800e+09,16349809.0,6.839039e+09,9763742.0,4.303282e+09,12059858.0,8.529572e+09
1998,269795252.0,5.905141e+11,6365223.0,2.795672e+10,109207205.0,4.463486e+11,2.384027e+09,2.855593e+12,2.006354e+09,6.749634e+12,...,0.0,0.000000e+00,2776568.0,4.067800e+09,16829935.0,6.325220e+09,10034412.0,3.537683e+09,12226742.0,6.401968e+09
1999,275503565.0,6.431349e+11,6411686.0,2.972207e+10,109092730.0,4.323778e+11,2.428751e+09,3.028972e+12,2.026516e+09,7.536036e+12,...,0.0,0.000000e+00,2848431.0,4.271200e+09,17304422.0,7.641101e+09,10309310.0,3.404312e+09,12374019.0,6.858013e+09
2000,281326250.0,7.339481e+11,6454716.0,3.220665e+10,108405522.0,4.275075e+11,2.473204e+09,3.284075e+12,2.045729e+09,8.134973e+12,...,0.0,0.000000e+00,2922153.0,4.313600e+09,17795219.0,9.636342e+09,10585220.0,3.600683e+09,12499981.0,6.689958e+09
2001,287291826.0,7.221506e+11,6497461.0,3.314777e+10,107811539.0,4.681185e+11,2.516977e+09,3.248589e+12,2.064266e+09,7.569472e+12,...,0.0,0.000000e+00,2997784.0,4.003700e+09,18306287.0,9.854042e+09,10861238.0,4.094481e+09,12603988.0,6.777385e+09
2002,293402563.0,7.279939e+11,6532561.0,3.493267e+10,107128884.0,5.270927e+11,2.559959e+09,3.153810e+12,2.081848e+09,7.699642e+12,...,0.0,0.000000e+00,3075373.0,3.555800e+09,18832097.0,1.069328e+10,11139978.0,4.193846e+09,12691431.0,6.342116e+09
2003,299731956.0,8.218702e+11,6567210.0,3.746913e+10,106808998.0,6.342131e+11,2.602700e+09,3.522278e+12,2.098602e+09,8.466425e+12,...,0.0,0.000000e+00,3154969.0,3.968000e+09,19374012.0,1.177777e+10,11426006.0,4.901840e+09,12774162.0,5.727592e+09
2004,306387415.0,9.639180e+11,6603018.0,4.115416e+10,106530417.0,7.608106e+11,2.645384e+09,4.109318e+12,2.114744e+09,9.495504e+12,...,0.0,0.000000e+00,3236626.0,4.329200e+09,19931617.0,1.387350e+10,11725635.0,6.221078e+09,12867828.0,5.805598e+09
2005,313430911.0,1.184735e+12,6640916.0,4.662698e+10,106254694.0,8.837415e+11,2.688160e+09,4.789642e+12,2.130542e+09,1.010979e+13,...,0.0,0.000000e+00,3320396.0,4.831800e+09,20504385.0,1.675377e+10,12043591.0,8.331870e+09,12984418.0,5.755215e+09
2006,320906736.0,1.404190e+12,6681231.0,5.239154e+10,105999320.0,1.000067e+12,2.731071e+09,5.485886e+12,2.146013e+09,1.073505e+13,...,0.0,0.000000e+00,3406334.0,4.910100e+09,21093973.0,1.908173e+10,12381509.0,1.275686e+10,13127942.0,5.443896e+09
2007,328766559.0,1.641666e+12,6723587.0,5.827707e+10,105504531.0,1.260066e+12,2.774122e+09,6.523588e+12,2.160761e+09,1.203439e+13,...,0.0,0.000000e+00,3494496.0,5.505800e+09,21701105.0,2.563367e+10,12738676.0,1.405696e+10,13297798.0,5.291950e+09
2008,336886468.0,2.081343e+12,6767278.0,6.647066e+10,105126686.0,1.519068e+12,2.817325e+09,7.336331e+12,2.175670e+09,1.387994e+13,...,0.0,0.000000e+00,3596688.0,6.673500e+09,22322699.0,3.039720e+10,13114579.0,1.791086e+10,13495462.0,4.415703e+09
2009,345054176.0,1.798878e+12,6811213.0,5.591058e+10,104924372.0,1.276034e+12,2.860676e+09,7.057714e+12,2.190186e+09,1.428673e+13,...,0.0,0.000000e+00,3702218.0,7.268200e+09,22954226.0,2.845950e+10,13507849.0,1.532834e+10,13720997.0,8.157077e+09
2010,353112237.0,2.103825e+12,6854569.0,5.963144e+10,104543801.0,1.311611e+12,2.904408e+09,8.545646e+12,2.204613e+09,1.667398e+13,...,0.0,0.000000e+00,3811102.0,8.913100e+09,23591972.0,3.090675e+10,13917439.0,2.026555e+10,13973897.0,9.422161e+09
2011,361031820.0,2.497945e+12,6896697.0,6.464424e+10,104174038.0,1.444816e+12,2.948206e+09,9.527991e+12,2.219109e+09,1.930519e+13,...,0.0,0.000000e+00,3927051.0,1.045985e+10,24234940.0,3.107886e+10,14343526.0,2.345952e+10,14255592.0,1.095623e+10
2012,368802611.0,2.773270e+12,6937108.0,6.650528e+10,103935318.0,1.348873e+12,2.991724e+09,9.970409e+12,2.233937e+09,2.067276e+13,...,0.0,0.000000e+00,4046901.0,1.127940e+10,24882792.0,3.207477e+10,14786581.0,2.550306e+10,14565482.0,1.239272e+10
2013,376504253.0,2.846994e+12,6975754.0,6.937135e+10,103713726.0,1.419326e+12,3.035326e+09,1.015347e+13,2.248920e+09,2.087574e+13,...,0.0,0.000000e+00,4169506.0,1.247600e+10,25533217.0,3.595450e+10,15246086.0,2.804552e+10,14898092.0,1.349023e+10
2014,384222592.0,2.873600e+12,7012857.0,7.132780e+10,103496179.0,1.457646e+12,3.079002e+09,1.026758e+13,2.264064e+09,2.148975e+13,...,0.0,0.000000e+00,4294682.0,1.271560e+10,0.0,0.000000e+00,15721343.0,2.713464e+10,15245855.0,1.419691e+10
2015,392022276.0,2.530102e+12,7048966.0,7.087662e+10,103318638.0,1.273221e+12,3.122703e+09,9.844617e+12,2.279186e+09,2.128119e+13,...,0.0,0.000000e+00,4422143.0,1.267740e+10,0.0,0.000000e+00,16211767.0,2.120156e+10,15602751.0,1.389294e+10

## The .pivot() Method

In [85]:
sales = pd.read_csv("salesmen.csv", parse_dates=["Date"])
sales["Salesman"] = sales["Salesman"].astype("category")
sales

           Date Salesman  Revenue
0    2016-01-01      Bob     7172
1    2016-01-02      Bob     6362
2    2016-01-03      Bob     5982
3    2016-01-04      Bob     7917
4    2016-01-05      Bob     7837
...         ...      ...      ...
1825 2016-12-27    Oscar      835
1826 2016-12-28    Oscar     3073
1827 2016-12-29    Oscar     6424
1828 2016-12-30    Oscar     7088
1829 2016-12-31    Oscar     8408

[1830 rows x 3 columns]

In [84]:
sales["Salesman"].value_counts()

Bob       366
Oscar     366
Ronald    366
Dave      366
Jeb       366
Name: Salesman, dtype: int64

In [86]:
sales.pivot(index = "Date", columns = "Salesman", values = "Revenue")

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
...          ...   ...   ...    ...     ...
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

## The .pivot_table() Method

In [1]:
import pandas as pd

In [3]:
foods = pd.read_csv("foods.csv")
foods.head(3)

  First Name  Gender      City Frequency     Item  Spend
0      Wanda  Female  Stamford    Weekly   Burger  15.66
1       Eric    Male  Stamford     Daily  Chalupa  10.56
2    Charles    Male  New York     Never    Sushi  42.14

In [4]:
foods.pivot_table(values = "Spend", index = "Gender", aggfunc= "mean")

            Spend
Gender
Female  50.709629
Male    49.397623

In [5]:
foods.pivot_table(values = "Spend", index = "Gender", aggfunc= "sum")

           Spend
Gender
Female  25963.33
Male    24106.04

In [7]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], aggfunc= "mean")

                      Spend
Gender Item
Female Burger     49.930488
       Burrito    50.092000
       Chalupa    54.635000
       Donut      49.926316
       Ice Cream  49.788519
       Sushi      50.355699
Male   Burger     49.613919
       Burrito    48.344819
       Chalupa    49.186761
       Donut      43.649565
       Ice Cream  51.096000
       Sushi      55.614384

In [9]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc= "mean")

City               New York  Philadelphia   Stamford
Gender Item
Female Burger     51.626667     52.878710  45.037778
       Burrito    42.563043     52.098571  53.532647
       Chalupa    46.135789     52.291563  64.094000
       Donut      46.670323     54.642000  48.734118
       Ice Cream  56.356296     46.225625  46.910455
       Sushi      47.751290     58.096000  45.622187
Male   Burger     58.822273     44.675238  46.424516
       Burrito    55.976000     43.764333  46.438929
       Chalupa    49.110800     48.444783  50.011304
       Donut      44.842333     37.859394  49.004483
       Ice Cream  55.297586     53.445610  42.368800
       Sushi      51.709259     49.852857  70.434444

In [10]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = ["Frequency" ,"City"], aggfunc= "mean")

Frequency             Daily                            Monthly               \
City               New York Philadelphia   Stamford   New York Philadelphia
Gender Item
Female Burger     43.778333    77.226667  48.220000  57.286667    53.762500
       Burrito    44.890000    53.595000  39.126000  40.913333    17.140000
       Chalupa    43.190000    23.490000  95.700000  79.185000    72.490000
       Donut      39.841667    61.850000  41.450000  71.132500    50.250000
       Ice Cream  65.547500    59.230000  46.440000  46.265000    37.255000
       Sushi      40.535000    58.088333  56.181429  46.580000    78.710000
Male   Burger     63.892000    37.566667  49.430000  62.430000    71.046667
       Burrito    78.736667    41.440000  69.057500  49.180000    29.860000
       Chalupa    27.045000    68.702500  48.160000  66.752000    45.350000
       Donut      46.000000    47.677500  64.710000  45.932500    51.858000
       Ice Cream  59.406667    29.738000  15.170000  50.733333    64.425000
       Sushi      56.392500    46.821667        NaN  53.857500    77.795000

Frequency                        Never                              Often  \
City               Stamford   New York Philadelphia   Stamford   New York
Gender Item
Female Burger     59.622500  97.890000    54.742500  45.485000  23.740000
       Burrito    67.940000  47.432500    63.716667  52.334286  34.533333
       Chalupa    80.990000  35.150000    30.492500  52.120000  39.730000
       Donut      45.860000  56.070000    72.263333  52.443333  32.657500
       Ice Cream  41.950000  68.716667    39.007500  77.660000  58.065000
       Sushi      54.195000  69.330000    47.645000  19.560000  49.134286
Male   Burger     13.580000  90.320000     8.655000        NaN  27.735000
       Burrito    39.866667  28.926667    47.290000  70.368000  47.480000
       Chalupa    57.293333  39.818000    48.596000  46.233333  62.880000
       Donut      29.882500  43.926000    26.825000  54.910000  46.600000
       Ice Cream  74.360000  28.770000    80.485000  39.923333  69.510000
       Sushi      93.030000  54.670000    40.961667  68.300000   9.310000

Frequency         ...       Once     Seldom                            Weekly  \
City              ...   Stamford   New York Philadelphia   Stamford  New York
Gender Item       ...
Female Burger     ...  31.683333  31.580000    58.435714  48.765000  92.17500
       Burrito    ...  56.003333  83.770000    49.527500  78.163333  13.23000
       Chalupa    ...  40.590000  40.000000    54.902000  58.416667  42.88000
       Donut      ...  79.120000  30.270000    45.812500  34.886667  71.39000
       Ice Cream  ...  55.866000  80.783333    50.775000  58.865000  56.90500
       Sushi      ...  38.950000  87.700000    62.848000  27.820000  51.36125
Male   Burger     ...  36.293333  75.226667    47.015000  53.250000  69.69000
       Burrito    ...  15.075000  67.466667    27.710000   9.840000  64.18500
       Chalupa    ...        NaN  11.690000    65.375000  34.804000  54.40000
       Donut      ...  27.978000  16.250000    33.003333  40.827500  37.22000
       Ice Cream  ...  36.542000  67.605000    69.220000  20.415000  44.77200
       Sushi      ...  62.930000  53.496667    91.260000  74.716667  50.05000

Frequency                                  Yearly
City             Philadelphia Stamford   New York Philadelphia   Stamford
Gender Item
Female Burger       16.000000  31.0040  64.825000    61.585000  51.171667
       Burrito      31.410000  46.1820  35.630000    38.916667  43.245000
       Chalupa      28.136667  68.2300  52.606667    56.048889  69.632000
       Donut        69.600000  55.0075  62.950000    58.410000  56.120000
       Ice Cream    47.546667  25.0060  37.917500    39.965000  15.240000
       Sushi        55.666667  52.5600  46.482000    48.616667  45.342500
Male   Burger       33.296667  77.5525  24.805000    49.340000  45.014000
       Burrito      48.208333  40.4625  55.175000    59.255000  32.830000
       Chalupa      33.920000  44.3700  55.913333    34.405000  58.095000
       Donut        38.600000  62.2540  35.775000    22.305000  16.520000
       Ice Cream    55.310000  47.8840  53.233333    47.988000  32.106667
       Sushi        52.066000  84.5400  39.813333    33.800000  48.710000

[12 rows x 24 columns]

In [13]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc= "count")
##sum, mean, min, max, count...

City              New York  Philadelphia  Stamford
Gender Item
Female Burger           24            31        27
       Burrito          23            28        34
       Chalupa          19            32        25
       Donut            31            30        34
       Ice Cream        27            32        22
       Sushi            31            30        32
Male   Burger           22            21        31
       Burrito          25            30        28
       Chalupa          25            23        23
       Donut            30            33        29
       Ice Cream        29            41        25
       Sushi            27            28        18

In [16]:
pd.pivot_table(data = foods, values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc= "count")

City              New York  Philadelphia  Stamford
Gender Item
Female Burger           24            31        27
       Burrito          23            28        34
       Chalupa          19            32        25
       Donut            31            30        34
       Ice Cream        27            32        22
       Sushi            31            30        32
Male   Burger           22            21        31
       Burrito          25            30        28
       Chalupa          25            23        23
       Donut            30            33        29
       Ice Cream        29            41        25
       Sushi            27            28        18

## The pd.melt() Method

In [17]:
## reverse pivot into normal table

In [19]:
sales = pd.read_csv("quarters.csv")
sales

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572
5      Ted  656644   70803  375948  321388
6      Jeb  486141  600753  742716  404995
7    Stacy  479662  742806  770712    2501
8   Morgan  992673  879183   37945  293710

In [23]:
pd.melt(sales, id_vars= "Salesman", var_name= "Quarter", value_name= "Revenue").head(10)

  Salesman Quarter  Revenue
0    Boris      Q1   602908
1      Bob      Q1    43790
2    Tommy      Q1   392668
3   Travis      Q1   834663
4   Donald      Q1   580935
5      Ted      Q1   656644
6      Jeb      Q1   486141
7    Stacy      Q1   479662
8   Morgan      Q1   992673
9    Boris      Q2   233879