In [2]:
import pandas as pd
import numpy as np

## Changing pandas Options with Attributes and Dot Syntax

In [4]:
data = np.random.randint(0, 100, [1000, 50])
data

array([[29, 26, 15, ...,  5, 98, 35],
       [17, 28,  1, ..., 97, 79, 22],
       [55, 62, 88, ..., 98,  5, 35],
       ...,
       [29, 94,  2, ..., 54, 87,  6],
       [57, 11, 77, ..., 72, 10, 23],
       [61, 45, 79, ..., 46, 62, 91]])

In [7]:
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,57,11,77,12,53,22,63,63,46,96,...,59,23,38,61,47,12,6,72,10,23
999,61,45,79,52,83,15,4,15,86,12,...,72,56,50,83,92,11,58,46,62,91

In [8]:
pd.options.display.max_rows

60

In [12]:
pd.options.display.max_rows = 4

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,29,26,15,19,34,56,79,34,99,53,73,10,19,48,41,72,23,20,54,67,...,28,54,36,86,64,37,80,64,89,4,28,20,39,59,82,59,1,5,98,35
1,17,28,1,40,99,35,95,9,77,1,95,95,81,92,69,65,88,68,72,63,...,16,46,49,15,10,71,17,86,76,42,22,78,62,12,91,42,44,97,79,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,57,11,77,12,53,22,63,63,46,96,22,46,80,11,30,55,50,99,83,70,...,16,33,98,68,83,4,0,46,89,47,59,23,38,61,47,12,6,72,10,23
999,61,45,79,52,83,15,4,15,86,12,25,8,25,10,63,95,98,60,12,51,...,5,84,7,78,57,13,10,60,79,2,72,56,50,83,92,11,58,46,62,91

In [14]:
pd.options.display.max_columns = 40

## Changing pandas Options with Methods

In [16]:
pd.get_option("max_rows")

4

In [17]:
pd.get_option("max_columns")

40

In [18]:
pd.set_option("max_rows", 7)

In [19]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,29,26,15,19,34,56,79,34,99,53,73,10,19,48,41,72,23,20,54,67,...,28,54,36,86,64,37,80,64,89,4,28,20,39,59,82,59,1,5,98,35
1,17,28,1,40,99,35,95,9,77,1,95,95,81,92,69,65,88,68,72,63,...,16,46,49,15,10,71,17,86,76,42,22,78,62,12,91,42,44,97,79,22
2,55,62,88,27,23,39,80,57,28,47,15,42,72,84,46,63,25,38,55,55,...,91,90,16,6,71,91,27,77,67,48,16,62,92,23,26,6,57,98,5,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,29,94,2,35,94,6,26,32,51,76,94,84,40,94,59,53,25,28,20,27,...,47,46,68,3,0,38,59,8,22,42,7,19,57,28,18,91,35,54,87,6
998,57,11,77,12,53,22,63,63,46,96,22,46,80,11,30,55,50,99,83,70,...,16,33,98,68,83,4,0,46,89,47,59,23,38,61,47,12,6,72,10,23
999,61,45,79,52,83,15,4,15,86,12,25,8,25,10,63,95,98,60,12,51,...,5,84,7,78,57,13,10,60,79,2,72,56,50,83,92,11,58,46,62,91

In [22]:
pd.reset_option("max_columns")

In [23]:
pd.describe_option("max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 7]

In [24]:
pd.get_option("precision")
##number of decimal places

6